<div>
    <header id="header-background">
        <app-header></app-header>
        <div class="container">
            <div class="row">
                <div class="col-md-12 my-auto">
                    <div class="readmore-header-content">
                        <div class="readmore-content">
                            <h4 class="fw-600 pb-3">DiscovR issues before they
                                impact revenue</h4>
                            <p class="fs-16">AI & Machine Learning powered anomaly
                                and fraud detection for the metrics that
                                matter to your business.</p>
                        </div>
                        <div class="right-image me-5 mt-4">
                            <img class="float-end" src="assets/images/readmoreheaderimg.png" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>


    <div class="container">
        <div class="detection-sub-content py-5">
            <div class="detection-para">
                <p class="red f-500 fs-17">Anomaly detection</p>
                <p id="detection-sub-h">DiscovR is a novel algorithm to detect anomaly. </p>
            </div>
            <p class="fs-16 black-clr segoe-f">Anomaly detection is an important tool for detecting fraud, detecting AML transactions, network
                intrusion, risk mitigation, manufacturing defects, engine defects, detect serious disease based on iot
                devices and other rare events that may have great significance for the business but are hard to find.
            </p>
            <p class="fs-16 black-clr segoe-f">DiscovR is a novel algorithm to detect anomaly. As it is based on unsupervised machine learning
                algorithm, it does not require labeled data. It delivers speed, accuracy, and context better than any
                solution of its kind to find abnormal (or unusual) data, activity, and transactions in any given
                datasets. </p>
            <p class="fs-16 black-clr segoe-f"> It has been successfully tested on hundreds of public datasets over several years. DiscovR is typically
                used to determine serious deviations in any given dataset.</p>
        </div>

        <div class="detection2-sub-content">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-7">
                            <div class="detection-left-content mt-4">
                                <p id="sub-header" class="f-600">Any deviation would indicate one of the following:</p>
                                <ul class="detection-menu-items">
                                    <li class="fs-16 black-clr segoe-f">Errors in Data creation.</li>
                                    <li class="fs-16 black-clr segoe-f">A positive trend that informs decision makers to better utilize any
                                        opportunities.</li>
                                    <li class="fs-16 black-clr segoe-f">A negative trend preparing organizations to take serious steps for risk
                                        mitigation.</li>
                                </ul>
                                <h6 class="fs-16 black-clr segoe-f ml-15">It is very critical to investigate each deviation and necessary steps should be
                                    taken to welcome if there is any new business opportunity or take sufficient
                                    measures to alleviate if any serious problem is found.</h6>
                            </div>
                        </div>
                        <div class="col-md-5">
                            <div class="ml-50">
                                <img src="assets/images/detection2.png" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="detection3-boxes">
            <h6 class="detection3-header pt-5">An anomaly detection tool has the following requirements: </h6>
            <div class="detection3-sub-boxes py-2">
                <div class="card">
                    <div class="card-body caard-info caard-info">
                        <p class="fs-16 f-700 segoe-f black-clr">Accuracy:</p>
                        <h6 class="fs-16 f-600 segoe-f black-clr"> Industry leading accuracy across hundreds of datasets</h6>
                    </div>
                </div>
            </div>
            <div class="detection3-sub-boxes py-2">
                <div class="card">
                    <div class="card-body caard-info">
                        <p class="fs-16 f-700 segoe-f black-clr">Speed:</p>
                        <h6 class="fs-16 f-600 segoe-f black-clr">
                            Best in class speed of processing achieved. Processed 8.5 million data points in less than
                            20
                            seconds on Windows 10 and less than 6 seconds on Ubuntu on an ordinary laptop!
                        </h6>
                    </div>
                </div>
            </div>
            <div class="detection3-sub-boxes py-2">
                <div class="card">
                    <div class="card-body caard-info">
                        <p class="fs-16 f-700 segoe-f black-clr">Explainability:</p>
                        <h6 class="fs-16 f-600 segoe-f black-clr">
                            User defined Key column references provides relevant feature, its weightage and value with
                            range
                            of common values and whether is high or low
                        </h6>
                    </div>
                </div>
            </div>
            <div class="detection3-sub-boxes py-2">
                <div class="card">
                    <div class="card-body caard-info">
                        <p class="fs-16 f-700 segoe-f black-clr">Categorical Columns:</p>
                        <h6 class="fs-16 f-600 segoe-f black-clr">
                            Handles both numeric and categorical data.
                        </h6>
                    </div>
                </div>
            </div>
            <div class="detection3-sub-boxes py-2">
                <div class="card">
                    <div class="card-body caard-info">
                        <p class="fs-16 f-700 segoe-f black-clr">Deterministic: </p>
                        <h6 class="fs-16 f-600 segoe-f black-clr">
                            For same input data, the output is exactly same. Most other algorithms provide different
                            result
                            each time we run.
                        </h6>
                    </div>
                </div>
            </div>
            <div class="detection3-sub-boxes py-2">
                <div class="card">
                    <div class="card-body caard-info">
                        <p class="fs-16 f-700 segoe-f black-clr">Real time Streaming Data: </p>
                        <h6 class="fs-16 f-600 segoe-f black-clr">
                            Handles streaming data one row at a time with milliseconds response</h6>
                    </div>
                </div>
            </div>
            <div class="detection3-sub-boxes py-2">
                <div class="card">
                    <div class="card-body caard-info">
                        <p class="fs-16 f-700 segoe-f black-clr">Intelligent Sorting: </p>
                        <h6 class="fs-16 f-600 segoe-f black-clr">
                            The rows are sorted in descending order of anomaly score, thus the row with the highest
                            anomaly
                            is shown at the top. For each row, key columns are sorted in descending order according to
                            their
                            weightage. So, the first key column in each row is always the one with the highest weightage
                        </h6>
                    </div>
                </div>
            </div>
        </div>


        <div class="footer-btns text-center py-5">
<h5 class="mb-3 f-600 f-papp fs-22">For Demos click links below</h5>
<div class="center-btns mb-2">
    <button>Classify Suspicious Companies based on Audit Data</button>
    <button>Credit Card Fraud Detection</button>
    <button>Detect Default in Payment</button>
</div>
<div class="center-btns mb-2">
    <button>Detect Subscription based on Markeing Campaigns</button>
    <button>Detect Defective Components from Sensor</button>
</div>
<div class="center-btns mb-2">
    <button>Upload Sample File</button>
</div>
        </div>
    </div>
    <app-footer></app-footer>
</div>
