<div class=" navbar-dark fixed-top add_bg" *ngIf="true">
    <div class="container-fluid py-3 px-0">
        <div class="top-header">
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <div class="container-fluid px-4"><a class="navbar-brand mb-2"> <img src="assets/images/logo.png"
                            class="right-logo"> </a><button class="navbar-toggler" type="button"
                        data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class=" bar-icon">
                            <i class="fa fa-bars text-dark "></i></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <div class="searchbar search-mob-view">
                            <input type="text" class="form-control" placeholder="Search">
                            <span class="search-icon"> <i class="fa fa-search"></i></span>
                        </div>
                        <ul class="navbar-nav m-auto navmenu">

                            <li class="nav-item"><a class="nav-link nav-menu-link-hover">Use Cases</a>
                                <div class="drop-menu drop-menu-res usecases-nav">
                                    <div class="col-sm-12 usecases-dd">
                                        <ul>
                                            <li>
                                                <h6><a href="https://fxtai.com/demo/audit.php" target='_blank'>Classify
                                                        Suspicious Companies based on Audit Data</a></h6>
                                            </li>
                                            <li>
                                                <h6><a href="https://fxtai.com/demo/defaultcc.php"
                                                        target='_blank'>Credit Card Fraud Detection</a></h6>
                                            </li>
                                            <li>
                                                <h6><a href="https://fxtai.com/demo/creditcard.php"
                                                        target='_blank'>Detect Default in Payment </a></h6>
                                            </li>
                                            <li>
                                                <h6><a href="https://fxtai.com/demo/bank.php" target='_blank'>Detect
                                                        Subscription based on Markeing Campaigns</a></h6>
                                            </li>
                                            <li>
                                                <h6><a href="https://fxtai.com/demo/sensor.php" target='_blank'>Detect
                                                        Defective Components from Sensor</a></h6>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </li>

                            <li class="nav-item"><a class="nav-link nav-menu-link-hover" href="#">Company</a>
                                <div class="drop-menu drop-menu-res company-nav">
                                    <div class="container">
                                        <div class="row company-dd">
                                            <div class="col-sm-6 ">
                                                <ul>
                                                    <li>
                                                        <h6><a href="">About Discovr</a></h6>
                                                    </li>
                                                    <li>
                                                        <h6><a href="">Customers</a></h6>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="nav-item"><a class="nav-link nav-menu-link-hover" href="#">Contact Us</a>
                                <div class="drop-menu drop-menu-res company-nav">
                                    <div class="container">
                                        <div class="row company-dd">
                                            <div class="col-sm-6">
                                                <ul>
                                                    <li>
                                                        <h6><a
                                                                href="http://Discovr.peopletech.com">email@peopletechgroup.com</a>
                                                        </h6>
                                                    </li>

                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                        <div class="searchbar search-desk-view">
                            <input type="text" class="form-control" placeholder="Search">
                            <span class="search-icon"> <i class="fa fa-search"></i></span>
                        </div>
                        <span class="sign-in-btn">
                            <button routerLink="/login">Sign in</button>
                        </span>
                    </div>
                </div>
            </nav>
        </div>
    </div>
</div>