<div class=" navbar-dark fixed-top add_bg"  *ngIf="true">
    <div class="container-fluid py-3 px-0">
        <div class="top-header">

            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <div class="container-fluid px-4"><a class="navbar-brand mb-2"> <img
                            src="assets/images/logo.png" class="right-logo"> </a><button
                        class="navbar-toggler" type="button" data-bs-toggle="collapse"
                        data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                        <span class=" bar-icon">
                            <i class="fa fa-bars text-dark "></i></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <div class="searchbar search-mob-view">
                            <input type="text" class="form-control" placeholder="Search">
                           <span class="search-icon"> <i class="fa fa-search"></i></span>
                        </div>
                        <ul class="navbar-nav m-auto navmenu">
                            <li class="nav-item"><a class="nav-link nav-menu-link-hover" >Product</a>
                                <div class="drop-menu drop-menu-res products-nav">

                                    <div class="container">

                                        <div class="row products-dd">

                                            <div class="col-sm-4">

                                                <h6 class="fw-bold">PAYMENTS</h6>

                                                <ul>

                                                    <li><a >Payments</a>

                                                    <p>Online Payments</p></li>

                                                    <li><a >Checkout</a>

                                                    <p>Pre-built payments page</p></li>

                                                    <li><a >Elements</a>

                                                    <p>Customixzable payment UIs</p></li>

                                                    <li><a >Payment Links</a>

                                                    <p>No-code payments</p></li>

                                                    <li><a >Connect</a>

                                                    <p>Payment for platforms</p></li> 

                                                </ul>

                                            </div>

                                            <div class="col-sm-4">

                                                <h6 class="fw-bold">FINANCIAL SERVICES</h6>

                                                <ul>

                                                    <li><a >Issuing</a>

                                                    <p>Card creation</p></li>

                                                </ul>

                                            </div>

                                            <div class="col-sm-4">

                                                <h6 class="fw-bold">BUSINESS OPERATIONS</h6>

                                                <ul>

                                                    <li><a href="#">Radar</a>

                                                    <p>Fraud & risk management</p></li>

                                                    <li><a href="#">Sigma</a>

                                                    <p>Custom Reports</p></li>

                                                    <li><a href="#">Atlas</a>

                                                    <p>Startup Incorporation</p></li>

                                                   <li><a href="#">Climate</a>

                                                    <p>Carbon Removal</p></li>

                                                    <li><a href="#">Tax</a>

                                                    <p>Online identity verification</p></li> 

                                                </ul>

                                            </div>

                                        </div>

                                    </div>                                       

                                </div>
                            </li>
                            <li class="nav-item"><a class="nav-link nav-menu-link-hover">Use Cases</a>
                                <div class="drop-menu drop-menu-res usecases-nav">
                                    <div class="col-sm-12 usecases-dd">
                                        <ul>
                                            <li><a>Finance and Insurance</a></li>
                                            <li><a>IT and ITES</a></li>
                                            <li><a>Manufacturing and Retail </a> </li>
                                            <li><a>E-commerce  </a></li>
                                            <li><a>Telecommunication  </a> </li> 
                                            <li><a>Healthcare and Pharmaceutical</a></li> 
                                            <li><a>Air and Transportation</a></li> 
                                            <li><a>Governance Risk and Compliance</a></li> 
                                        </ul>
                                    </div>                                                                                 
                                </div>                             
                            </li>
                            <li class="nav-item nav-item3"><a class="nav-link nav-menu-link-hover"
                                    href="#">Developers</a>
                                    <div class="drop-menu drop-menu-res developers-nav">                                     

                                        <div class="col-sm-12 developers-dd">

                                            <a href="javascript:void(0)">

                                            <h6>Document</h6>

                                            <p>Start integratinf Discovr's products and tools</p>

                                        </a>

                                        </div> 

                                        <div class="container">

                                            <div class="row developers-sub-dd">

                                                <div class="col-sm-6">

                                                    <h6 class="fw-bold">GET STARTED</h6>

                                                    <ul class="developers-list">

                                                        <li><a href="#">Prebuilt checkout</a></li>

                                                        <li><a href="#">libraries and SDKs</a></li>

                                                        <li><a href="#">plugins</a></li>

                                                        <li><a href="#">Code samples</a></li>

                                                    </ul>

                                                </div>

                                                <div class="col-sm-6">

                                                   <h6 class="fw-bold">GUIDES</h6>

                                                    <ul class="developers-list">

                                                        <li><a href="#">Accept online payments</a></li>

                                                        <li><a href="#">Manage subscriptions</a></li>

                                                        <li><a href="#">Send payments</a></li>

                                                        <li><a href="#">Set up in-person payments</a></li>                                                        

                                                    </ul>

                                                </div>

                                            </div>

                                            <div class="row developers-dd-footer">

                                                <div class="col-sm-6 developers-ft">

                                                    <ul>

                                                        <li><a href="#">FULL API reference</a></li>

                                                        <li><a href="#">Support</a></li>

                                                    </ul>

                                                </div>

                                                <div class="col-sm-6">

                                                    <ul>

                                                        <li><a href="#">API status</a></li>

                                                        <li><a href="#">API changelog</a></li>

                                                    </ul>

                                                </div>

                                            </div>

                                        </div>                                

                                    </div>
                            </li>
                            <li class="nav-item"><a class="nav-link nav-menu-link-hover" href="#">Company</a>
                            <div class="drop-menu drop-menu-res company-nav">

                                    <div class="container">

                                        <div class="row company-dd">

                                            <div class="col-sm-6">

                                                <ul>

                                                    <li><h6><a href="#">About Discovr</a></h6></li>

                                                    <li><h6><a href="#">Customers</a></h6></li>

                                                    <li><h6><a href="#">Enterprise</a></h6></li>

                                                    <li><h6><a href="#">Jobs</a></h6></li>

                                                </ul>

                                            </div>

                                            <div class="col-sm-6">

                                                <ul>

                                                    <li><h6><a href="#">Newsroom</a></h6></li>

                                                    <li><h6><a href="#">Parteners</a></h6></li>

                                                    <li><h6><a href="#">Sessions</a></h6></li>                                                      

                                                </ul>

                                            </div>

                                        </div>



                                        <div class="col-sm-12 company-dd-footer">

                                            <a href="javascript:void(0)">

                                            <h6>From the blog</h6></a>

                                            <ul>

                                                <li><a href="#">Discor's payment APIs: the first ten years</a></li>

                                                <li><a href="#">European payment methods available worldwide</a></li>

                                                <li><a href="#">We built Checkout so you don't have to</a></li>

                                            </ul>

                                        </div>

                                       

                                    </div>           

                                    

                                </div>
                            </li>
                            <li class="nav-item"><a class="nav-link nav-menu-link-hover" href="#">Contact Us</a></li>
                        </ul>
                        <div class="searchbar search-desk-view">
                            <input type="text" class="form-control" placeholder="Search">
                           <span class="search-icon"> <i class="fa fa-search"></i></span>
                        </div>
                        <span class="sign-in-btn">
                            <button routerLink="/login">Sign in</button>
                        </span>
                    </div>
                </div>
            </nav>



        </div>
    </div>
</div>