<footer class="pt-5">
    <div class="container light-theam-white">
        <div class="d-flex flex-wrap justify-content-center py-3 mb-4">
            <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
                <svg class="bi me-2" width="40" height="32">
                    <use xlink:href="#bootstrap"></use>
                </svg>
                <img src="assets/images/logo.png" id="footer-img" />
            </a>

            <ul class="nav nav-pills">
                <li class="nav-item"><a href="#" class="nav-link nav-menu-link-hover" aria-current="page">Product</a></li>
                <li class="nav-item"><a href="#" class="nav-link nav-menu-link-hover">Use Cases</a></li>
                <li class="nav-item"><a href="#" class="nav-link nav-menu-link-hover">Developers</a></li>
                <li class="nav-item"><a href="#" class="nav-link nav-menu-link-hover">Company </a></li>
                <li class="nav-item"><a href="#" class="nav-link nav-menu-link-hover">Contact Us</a></li>
            </ul>
        </div>
    </div>
</footer>