<div style="background: #F2F4F9;">
    <nav class="pt-3 pb-3 bg-light border-bottom sticky-header" (scroll)="onWindowScroll();">
        <div class="col-12 container d-flex flex-wrap px-1">
            <a  class="d-flex align-items-center mb-3 mb-lg-0 me-lg-auto text-dark text-decoration-none">
                <span class="fs-4"><img src="assets/images/logo.png"></span>
            </a>
            <div class="col-12 col-lg-auto mb-3 mb-lg-0">
                <span id="displayUsername">Admin</span> <img src="assets/images/Ellipse.png" style="display: block;">
            </div>
        </div>
    </nav>

    <div class="bg-hash py-3 px-2">
        <p class=" col-12 container d-flex flex-wrap px-1 text-white m-auto  fs-6 f-roboto f-600 text-white   fs-6  f-roboto f-600">Discover Unsual Transacations and Business Incidents
        </p>
    </div>
    <div>
        <section>
            <div class="container py-5">
                <!---- First Box file upload section-->
                <div class="card shadow-sm mb-5">
                    <div class="card-body">
                        <h6 class="card-title mx-3 black-clr fs-16 f-700 f-roboto pt-2">Upload CSV FIle</h6>
                        <div class="dashed-bg p-4 my-4 mx-3" *ngIf="true">
                            <div class="d-flex justify-content-center">
                                <div class="bg-color px-5 mb-4">
                                    <div *ngIf="false" class="file-upload-wrapper" data-text="Select your file!"
                                        style="margin-left: -31px;">
                                        <img src="assets/images/Fileupload.png" alt="FileUpload"
                                            style="margin-left: 67px;">
                                        <input name="file-upload-field" type="file" class="file-upload-field">
                                        <br>
                                        <p id="ulpoad-info">or drag and drop a file</p>
                                    </div>
                                    <div class="">
                                        <div class="mb-3 " style="display: inline-block;
                                    width: calc(100% - 173px);
                                    margin-left: 6rem;">
                                            <input class="form-control" type="file" id="formFile">

                                            <p id="ulpoad-info">or drag and drop a file</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="d-flex justify-content-center">
                                <button class="f-14 py-2 upload-btn f-700 me-2">Upload</button>
                                <button class="f-14 py-2 upload-btn f-700">Download</button>
                            </div>                          
                        </div>


                    </div>
                </div>

                <!--second box --->

                <div class="container-boxes">
                    <!--thied box --->
                    <div class="card shadow-sm ">
                        <div class="form-bg">
                            <form>

                                <div class="container p-4">
                                    <div class="row pt-2">
                                        <div class="col-md-6">
                                            <div class="row">
                                                <div class="col-5">
                                                    <span class="fs-14 black-clr field-label f-500 f-roboto">Column
                                                        Header Given</span>
                                                </div>
                                                <div class="col-6">
                                                    <div class="form-check form-check-inline">
                                                        <input class="form-check-input" type="radio"
                                                            id="inlineCheckbox1" value="option1">
                                                        <label class="form-check-label fs-14 black-clr f-500 f-roboto"
                                                            for="inlineCheckbox1">Yes</label>
                                                    </div>
                                                    <div class="form-check form-check-inline">
                                                        <input class="form-check-input" type="radio"
                                                            id="inlineCheckbox2" value="option2">
                                                        <label class="form-check-label fs-14 black-clr f-500 f-roboto"
                                                            for="inlineCheckbox2">No</label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div>
                                                <div class="form-group row mt-4">
                                                    <label for="inputPassword"
                                                        class="col-4 col-form-label fs-14 black-clr field-label f-500 f-roboto">Field
                                                        Separator
                                                    </label>
                                                    <div class="col-7">
                                                        <input type="text" class="form-control form-control-sm"
                                                            id="inputPassword">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group row">
                                                <label for="inputPassword"
                                                    class="col-3 col-form-label fs-14 black-clr f-500 f-roboto">#Rows</label>
                                                <div class="col-9">
                                                    <input type="text" class="form-control form-control-sm" id="rows">
                                                </div>
                                            </div>
                                            <div class="form-group row mt-3">
                                                <label for="inputPassword"
                                                    class="col-3 col-form-label fs-14 black-clr f-500 f-roboto">#Columns</label>
                                                <div class="col-9">
                                                    <input type="text" class="form-control form-control-sm"
                                                        id="columns">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>



                            </form>
                        </div>
                        <div data-bs-toggle="modal" data-bs-target="#exampleModal"><img src="assets/images/toggle.png"
                                class="float-end px-4 pb-3" style="cursor: pointer;"></div>
                        <div class="table-responsive mx-4 " style="max-height: 262px;">
                            <table class="table table-bordered tb-detals text-end border-light-blue">
                                <thead>
                                    <tr class="align-left bg-light-blue blue-color f-600">
                                        <th scope="col">ID Number</th>
                                        <th scope="col ">Clump Thickness</th>
                                        <th scope="col">Uniformity of Cell Size</th>
                                        <th scope="col">Uniformity of Cell Shape</th>
                                        <th scope="col">Marginal Adhesion</th>
                                        <th scope="col">Single Epithelial Cell Sizee</th>


                                    </tr>
                                </thead>
                                <tbody>
                                    <tr class="f-500" *ngFor="let character of characters">
                                        <td>{{character.id}}</td>
                                        <td>{{character.name}}</td>
                                        <td>{{character.size}}</td>
                                        <td>{{character.shape}}</td>
                                        <td>{{character.cells}}</td>
                                        <td>{{character.rows}}</td>

                                    </tr>

                                </tbody>
                            </table>

                        </div>
                        <nav class=" py-2">
                            <nav class=" py-3">
                                <ul class="pagination pagination-sm float-end mx-4">
                                    <li class="page-item disabled">
                                        <a class="page-link" href="#" tabindex="-1">1</a>
                                    </li>
                                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                                    <li class="page-item"><a class="page-link" href="#">4</a></li>
                                    <li class="page-item"><a class="page-link" href="#">5</a></li>
                                    <li class="page-item"><a class="page-link" href="#">6</a></li>
                                </ul>
                            </nav>
                        </nav>
                    </div>
                    <div class="py-5">
                        <!--fourth box --->
                        <div class="card shadow-sm ">
                            <div class="py-4 px-4">
                                <div class="col-12 card-body">
                                    <!-- <div class="card-body px-3 pt-4 lh-1"> -->
                                    <h6 class="card-title f-600 black-clr f-roboto">Columns not to be used for
                                        Computation</h6>
                                    <p class="fs-14  black-clr f-roboto">Press Ctrl to Select Multiple Items</p>
                                </div>

                                <div class="container pb-4">

                                    <div class="d-flex justify-content-center">
                                        <div class="client-list">
                                            <ul class="list pt-1" *ngFor="let listDatas of listData">
                                                <li>{{listDatas.listName}}</li>

                                            </ul>
                                        </div>
                                        <div class="client-icons">
                                            <div class="arrow-btns">
                                                <button><i class="p-2 fa fa-angle-right"></i></button>
                                            </div>
                                            <div class="arrow-btns">
                                                <button><i class="p-2 fa fa-angle-double-right"></i></button>
                                            </div>
                                            <div class="arrow-btns">
                                                <button><i class="p-2 fa fa-angle-right"></i></button>
                                            </div>
                                            <div class="arrow-btns">
                                                <button><i class="p-2 fa fa-angle-double-left"></i></button>
                                            </div>
                                        </div>
                                        <div class="client-list1">
                                            <ul class="list pt-1" *ngFor="let listDatas of listData">
                                                <li>{{listDatas.listName}}</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--- 5th box yes or no options-->
                    <!----new code for 5th box-->
                    <div class="card shadow-sm ">
                        <div class="py-4 px-4">
                            <form>
                                <div class="container p-1">
                                    <div class="col-12">
                                        <p class="f-roboto f-600 fs-14 black-clr">Ignoring column for Computation</p>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="row">
                                                <div class="col-8">
                                                    <input type="text" class="form-control form-control-sm border-bg"
                                                        value="1,11">
                                                </div>
                                            </div>
                                            <div class="form-check-inline pt-4">
                                                <div class="form-check form-check-inline">
                                                    <input class="form-check-input" type="radio" id="rows1"
                                                        value="option1">
                                                    <label class="form-check-label fs-14 f-roboto f-500 black-clr"
                                                        for="rows1">Number of Unusual Rows</label>
                                                </div>
                                                <div class="form-check form-check-inline">
                                                    <input class="form-check-input" type="radio" id="rows2"
                                                        value="option2">
                                                    <label class="form-check-label f-roboto f-500 black-clr fs-14"
                                                        for="rows2">Percentage of Rows</label>
                                                </div>
                                            </div>
                                            <div>
                                                <div class="form-group row pt-4">
                                                    <label for="inputPassword"
                                                        class="col-5 f-500 f-roboto fs-14 black-clr">Show number of
                                                        unsual rows</label>
                                                    <div class="col-3">
                                                        <input type="text"
                                                            class="form-control form-control-sm border-bg text-end"
                                                            value="100">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="row">
                                                <div class="col-6">
                                                    <input class="form-check-input border-bg p-2" type="checkbox"
                                                        value="option1">
                                                    <label
                                                        class="form-check-label fs-14 f-500 black-clr ml-15 f-roboto">Show
                                                        key column</label>
                                                </div>
                                                <div class="col-6">
                                                    <label for="column2" class="fs-14 f-500 black-clr f-roboto">Key
                                                        columns</label>
                                                    <input type="text" class="col-6 ml-15 border-bg text-end pe-2"
                                                        value="3">
                                                </div>
                                            </div>
                                            <div class="form-group row pt-4">
                                                <label for="inputPassword" class="col-3 f-500 fs-14 black-clr f-roboto"
                                                    style="margin-top: 7px;">Algorithm Type</label>
                                                <div class="col-9">
                                                    <select class="form-select f-500 fs-14 black-clr f-roboto "
                                                        aria-label="Default select example">
                                                        <option selected class="f-500 fs-14 black-clr f-roboto">
                                                            Extreme value based</option>
                                                        <option value="1" class="f-500 fs-14 black-clr f-roboto">One
                                                        </option>
                                                        <option value="2" class="f-500 fs-14 black-clr f-roboto">Two
                                                        </option>
                                                        <option value="3" class="f-500 fs-14 black-clr f-roboto">Three
                                                        </option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                      </div>
                    </div>
                    <!---end to here-->
                    <div class="py-3 my-5 text-center bg bg-white border-hash">
                        <p class="exclamation-info black-clr f-roboto"><img src="assets/images/exclamation.png"
                                class="me-3"> Note: We
                            display (at most) first 100 rows and First 125 and Last 125 columns only.</p>
                    </div>
                    <div class="d-flex justify-content-center pt-5">
                        <div class="icon-btns">
                            <button>Result</button>
                        </div>
                        <div class="icon-btns">
                            <button>Help</button>
                        </div>
                        <div class="icon-btns">
                            <button>Submit</button>
                        </div>
                        <div class="icon-btns" id="close-btn">
                            <button>Close</button>
                        </div>

                    </div>
                </div>
            </div>
        </section>
    </div>


    <footer class="py-5">
        <div class="container bg bg-white">
            <div class="d-flex flex-wrap justify-content-center py-3 mb-4">
                <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
                    <svg class="bi me-2" width="40" height="32">
                        <use xlink:href="#bootstrap"></use>
                    </svg>
                    <img src="assets/images/logo.png" id="footer-img" />
                </a>

                <ul class="nav nav-pills">
                    <li class="nav-item"><a href="#" class="nav-link nav-menu-link-hover"
                            aria-current="page">Product</a></li>
                    <li class="nav-item"><a href="#" class="nav-link nav-menu-link-hover">Use Cases</a></li>
                    <li class="nav-item"><a href="#" class="nav-link nav-menu-link-hover">Developers</a></li>
                    <li class="nav-item"><a href="#" class="nav-link nav-menu-link-hover">Company </a></li>
                    <li class="nav-item"><a href="#" class="nav-link nav-menu-link-hover">Pricing</a></li>
                </ul>
            </div>
        </div>
    </footer>
</div>


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog  modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <!-- <h5 class="modal-title" id="exampleModalLabel">Modal title</h5> -->
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="table-responsive mx-4 " style="max-height: 423px;">
                    <table class="table table-bordered tb-detals text-end border-light-blue">
                        <thead>
                            <tr class="align-left bg-light-blue blue-color f-600">
                                <th scope="col">ID Number</th>
                                <th scope="col ">Clump Thickness</th>
                                <th scope="col">Uniformity of Cell Size</th>
                                <th scope="col">Uniformity of Cell Shape</th>
                                <th scope="col">Marginal Adhesion</th>
                                <th scope="col">Single Epithelial Cell Sizee</th>
                                <th scope="col">Uniformity of Cell Shape</th>
                                <th scope="col">Single Epithelial Cell Sizee</th>
                                <th scope="col">Uniformity of Cell Shape</th>
                                <th scope="col">Single Epithelial Cell Sizee</th>
                                <th scope="col">Uniformity of Cell Shape</th>

                            </tr>
                        </thead>
                        <tbody>
                            <tr class="f-500">
                                <th scope="row">1</th>
                                <td>Mark</td>
                                <td>Otto</td>
                                <td>@mdo</td>
                                <td>@mdo</td>
                                <td>@mdo</td>
                                <td>@mdo</td>
                                <td>@mdo</td>
                                <td>@mdo</td>
                                <td>@mdo</td>
                                <td>@mdo</td>
                            </tr>
                            <tr class="f-500">
                                <th scope="row">1</th>
                                <td>Mark</td>
                                <td>Otto</td>
                                <td>@mdo</td>
                                <td>@mdo</td>
                                <td>@mdo</td>
                                <td>@mdo</td>
                                <td>@mdo</td>
                                <td>@mdo</td>
                                <td>@mdo</td>
                                <td>@mdo</td>
                            </tr>
                            <tr class="f-500">
                                <th scope="row">1</th>
                                <td>Mark</td>
                                <td>Otto</td>
                                <td>@mdo</td>
                                <td>@mdo</td>
                                <td>@mdo</td>
                                <td>@mdo</td>
                                <td>@mdo</td>
                                <td>@mdo</td>
                                <td>@mdo</td>
                                <td>@mdo</td>
                            </tr>
                            <tr class="f-500">
                                <th scope="row">1</th>
                                <td>Mark</td>
                                <td>Otto</td>
                                <td>@mdo</td>
                                <td>@mdo</td>
                                <td>@mdo</td>
                                <td>@mdo</td>
                                <td>@mdo</td>
                                <td>@mdo</td>
                                <td>@mdo</td>
                                <td>@mdo</td>
                            </tr>
                            <tr class="f-500">
                                <th scope="row">1</th>
                                <td>Mark</td>
                                <td>Otto</td>
                                <td>@mdo</td>
                                <td>@mdo</td>
                                <td>@mdo</td>
                                <td>@mdo</td>
                                <td>@mdo</td>
                                <td>@mdo</td>
                                <td>@mdo</td>
                                <td>@mdo</td>
                            </tr>
                            <tr class="f-500">
                                <th scope="row">1</th>
                                <td>Mark</td>
                                <td>Otto</td>
                                <td>@mdo</td>
                                <td>@mdo</td>
                                <td>@mdo</td>
                                <td>@mdo</td>
                                <td>@mdo</td>
                                <td>@mdo</td>
                                <td>@mdo</td>
                                <td>@mdo</td>
                            </tr>
                            <tr class="f-500">
                                <th scope="row">1</th>
                                <td>Mark</td>
                                <td>Otto</td>
                                <td>@mdo</td>
                                <td>@mdo</td>
                                <td>@mdo</td>
                                <td>@mdo</td>
                                <td>@mdo</td>
                                <td>@mdo</td>
                                <td>@mdo</td>
                                <td>@mdo</td>
                            </tr>
                            <tr class="f-500">
                                <th scope="row">2</th>
                                <td>Jacob</td>
                                <td>Thornton</td>
                                <td>@fat</td>
                                <td>@mdo</td>
                                <td>@mdo</td>
                                <td>@mdo</td>
                                <td>@mdo</td>
                                <td>@mdo</td>
                                <td>@mdo</td>
                                <td>@mdo</td>
                            </tr>
                            <tr class="f-500">
                                <th scope="row">2</th>
                                <td>Jacob</td>
                                <td>Thornton</td>
                                <td>@fat</td>
                                <td>@mdo</td>
                                <td>@mdo</td>
                                <td>@mdo</td>
                                <td>@mdo</td>
                                <td>@mdo</td>
                                <td>@mdo</td>
                                <td>@mdo</td>
                            </tr>
                            <tr class="f-500">
                                <th scope="row">2</th>
                                <td>Jacob</td>
                                <td>Thornton</td>
                                <td>@fat</td>
                                <td>@mdo</td>
                                <td>@mdo</td>
                                <td>@mdo</td>
                                <td>@mdo</td>
                                <td>@mdo</td>
                                <td>@mdo</td>
                                <td>@mdo</td>
                            </tr>
                            <tr class="f-500">
                                <th scope="row">2</th>
                                <td>Jacob</td>
                                <td>Thornton</td>
                                <td>@fat</td>
                                <td>@mdo</td>
                                <td>@mdo</td>
                                <td>@mdo</td>
                                <td>@mdo</td>
                                <td>@mdo</td>
                                <td>@mdo</td>
                                <td>@mdo</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>
