.f-roboto {
    font-family: Roboto;

}

.sticky-header {
    position: sticky;
    top: 0;
    bottom: 0;
    background: #fff;
    z-index: 9;
    transition: .3s;
    box-shadow: 0 .125rem .25rem rgba(0, 0, 0, .075) !important;
}

.bg-color {
    width: 814px;
    height: 108px;
    background: #E2F1FF;
    border: 1px solid #72B5E8;
    padding-top: 23px;
}

.columninput {
    background: #FFFFFF;
    border: 1px solid #E5E5E5;
    width: 334px;
}

.dashed-bg {
    background: #FBFBFC;
    border: 1px dashed #72B5E8;
    box-sizing: border-box;
    border-radius: 6px;
}

.tb-details, tr, th {
    border-right-color: #3A99F1;
    font-size: 14px;
    min-width: 212px;
    font-family: 'Roboto';
    border-left-color: #3a99f1;
}

.client-list ul li:hover {
    background: #0078D7;
    color: #fff;
    padding-left: 7px;
    cursor: pointer;

}

.client-list1 ul li:hover {
    background: #0078D7;
    color: #fff;
    padding-left: 7px;
    cursor: pointer;

}

.client-list {
    background: #FBFBFC;
    border: 1px solid #E5E5E5;
    width: calc(100% - 303px);
    height: 300px;
    overflow: auto;
    font-family: roboto;
    font-weight: 400;
    color: #4E5861;
}

.client-list1 {
    background: #FBFBFC;
    border: 1px solid #E5E5E5;
    width: calc(100% - 303px);
    height: 300px;
    overflow: auto;
    font-family: roboto;
    font-weight: 400;
    color: #4E5861;
}

.client-list ul.list li {
    list-style: none;
    font-size: 14px;
    margin: 2px 0px -11px -14px;
    padding-top: 6px;
    width: 100%;
    padding-bottom: 5px;
    position: relative;
    line-height: 14px;
}

.client-list1 ul.list li {
    font-size: 14px;
    list-style-type: decimal;
    padding-top: 6px;
    margin: 2px 0px -11px -14px;
    width: 100%;
    padding-bottom: 5px;
    position: relative;
    line-height: 14px;
    margin-left: 0px;
}

.card-container {
    display: flex;
    margin: auto;
}

.client-icons .arrow-btns button {
    width: 63px;
    height: 40px;
    border: none;
    margin: 10px 15px 28px 15px;
    background: #E9E9E9;
    border: 1px solid #E5E5E5;
    box-sizing: border-box;
    border-radius: 6px;
}

.arrow-btns {
    text-align: center;
}

.icon-btns button {
    width: 166px;
    background: #0875C9;
    color: #fff;
    font-size: 14px;
    font-weight: 700;
    margin: 0px 0px 0px 14px;
    border: 1px solid #0875C9;
    height: 40px;
    font-family: roboto;
}

.upload-btn {
    font-size: 14px;
    width: 160px;
    background: #EAE8E8;
    border: 1px solid rgba(35, 31, 32, 0.19);
    text-align: center;
   
}

.exclamation-info {
    margin: auto;
    font-size: 14px;
    font-weight: 600;
}

.form-bg {
    background: #FBFBFC;
    border: 1px solid #DCDCDC;
    box-sizing: border-box;
    border-radius: 6px;
    height: 157px;
    margin: 1.6rem;
}

.dropdown-toggle::after {
    margin-left: 12.255em !important;
}

div#close-btn button {
    background: #FFFFFF;
    border: 1px solid #0078D7;
    color: #0875C9;
}

.field-label {
    min-width: 118px;
}

/*---ulpoad file code--*/
.file-upload-wrapper {
    color: #4daf7c;
    height: 60px;
    position: relative;
    width: 100%;
    height: 60px;
}


#ulpoad-info {
    text-align: center;
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
    color: #6C7680;
    font-family: roboto;
    margin-top: 13px;
}

/*---end to here---*/
.border-bg {
    background: #FBFBFC;
    border: 1px solid #E5E5E5;
}


li.nav-item {
    font-family: Poppins;
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: left;

}

a.nav-link {
    color: #000000 !important;
}


@media(max-width:767px) {
    ul.nav.nav-pills {
        display: none;

    }

    img#footer-img {
        margin: 11px 0px 0px -28px;
    }
}

@media(min-width:768px) {
    ul.nav.nav-pills {
        display: flex;

    }
}

.table> :not(:first-child) {
    border-top: 0;
}

.page-link {
    border: none !important;
}

span#displayUsername {
    float: left;
    justify-content: center;
    justify-items: center;
    margin: auto;
    position: relative;
    top: 9px;
    right: 10px;
}













