.bg-light{
	background-color: transparent !important;
}
.navbar-nav .nav-item{
	margin: 0 1rem;
	position: relative;
	transition: all 0.5s ease-in-out 0s;
}
.greater-than-icon:before{
	content: '>';
    font-weight: bold;
    font-size: 15px;
    margin-left: 4px;
}

a.anctag:hover {
    color: rgb(8, 8, 8) !important;
    transition: all 0.5s ease-in-out 0s;
    opacity: 0.4;
}


    .sign-in-btn button {
        height: 38px;
        width: 101px;
        background: #FFFFFF;
		box-shadow: 0px 2px 13px rgb(0 0 0 / 25%);
        border-radius: 20px;
        border: none;
        color: #FF0000;
        font-weight: bold;
        font-size: 14px;
		margin-left: 20px;
    }
    .special-header {
        font-family: Poppins;
        font-weight: bold;
        line-height: 43px;
      
    }
    .right-img img{
        width: 100%;
        padding: 50px 0px 0px 0px;
    }
  
    .data-right-img img {
        float: right;
    }
	
.top-sticky{
	position: sticky;
    top: 0;
    z-index: 99999;
    background: #fff;
    bottom: 0;
    height: 78px;
}




#header-background{
	background-image: url("../../../assets/images/linear-background.png");
background-repeat: no-repeat;
background-size: cover;
	padding-bottom: 2rem;
}



#right-side-image{
	display: flex;
    align-items: center;
    justify-content: center;
}
.right-side-image3 img{
	position: absolute;
                        left: 26em;
                        top: 26em;
                        bottom: 0;
                        right: 0px;
}
.navbar-inverse{
	background-color: #fff;
	transition: .3s;
	box-shadow: 0 .125rem .25rem rgba(0,0,0,.075)!important;
}
	.changecolor{
		background-color: #fff;
		}

		@media(max-width:767px){
			.mob-view{
				display: block;
				padding-bottom: 34px;
			}
			.desk-view{
				display: none;
			}#hide-btns{
				display: none;
			}.child-info p {
				padding: 0px 24px 0px 24px;
			}
			.detection-sub-content {
				padding: 0px 24px 0px 24px;
			}.read-btn{
				margin-left: 20px;
			}
		}
		@media(min-width:768px){
			.mob-view{
				display: none;
			}
			.desk-view{
				display: block;
			}#hide-btns{
				display: block;
			}.child-info p {
				padding: 0px;
			}
			.detection-sub-content {
				padding: 0px;
			}.read-btn{
				margin-left: 0px;
			}
		}
@media(max-width:767px){
	.drop-menu{
		min-width: 316px;
	}
	.drop-menu3{
		min-width: 316px;
	}.searchbar.search-mob-view {
		margin-left: 0.5rem;
		margin-right: 0.5rem;
	}a.navbar-brand {
		margin-left: 0.5rem;
		margin-right: 0.5rem;
	}.sign-in-btn {
		margin-left: -8px;
	}
}
@media(min-width:768px){
	.drop-menu{
		
		min-width: 400px;
	}
	.drop-menu3{
		
		min-width: 400px;
	}
}

		@media(max-width:767px){
			.readmorebtns{
				display: block;
			}.navbar-nav .nav-item {
				font-size: 17px;
				padding: 0px 0px 15px 0px;
				
			}span.sign-in-btn button {
				margin-top: 11px;
			}.searchbar{
				margin: 1rem 0 10px -3px;
			}
		}
		

		@media(min-width:768px){
			.readmorebtns{
				display: none;
			}
			
		}
		@media(max-width:767px){
			.left-content {
				padding: 63px 24px 0px 24px;
			}
			
			
		}
		@media(max-width:991px){
			.navbar{
				background-color: #fff !important;
			}
			.navbar-nav .nav-item {
				padding: 0px 0px 15px 0px;
			}
			.searchbar{
				margin: 1rem 0 10px -3px;
			}
			.search-desk-view{
				display: none;
			}
		}
		@media(min-width:992px){
		
			.search-mob-view{
				display: none;
			}
		}
		@media(min-width:768px){
			.left-content {
				padding: 138px 24px 0px 24px;
			}				
		}
@media(min-width:992px) and (max-width:1058px){
	.navbar-nav .nav-item {
		font-size: 13px;
		margin: 0 0.4rem !important;
	}
}

.searchbar{
	position: relative;
}
		.searchbar input{
			padding: 15px 40px 15px 20px;
			border-radius: 50px;
    		border: 1px solid #4e5861;
			position: relative;
			color: #525252;
			text-transform: uppercase;
			font-size: 10px;
			font-weight: 100;
			border: 1px solid #DDDD;
			height: 41px;
		}
  
		.searchbar .search-icon{
			position: absolute;
			top: 9px;
			right: 16px;
			color: black;	
		}
		/* ------------------------ Hovarable Dropdown CSS Start -------------------*/


/* End of hovarable dropdown */


@media(max-width:767px){
	.drop-menu-res {
		margin-left: 6rem;
	}
}
@media(max-width:990px){
	.drop-menu-res {
		margin-left: 0;
	}
}
.detection-para p {
    line-height: 10px;
}
#detection-sub-h{
    font-family: Poppins;
    font-weight: 600;
    font-size: 22px;
    line-height: 28px;
    color: rgba(0, 0, 0, 0.8);
}