<div>
    <header id="header-background">
        <app-header></app-header>
        <div class="container">
            <div class="body-header">
                <div class="row">
                    <div class="col-md-6 my-auto">
                        <div class="left-content">
                            <div class="mob-view">
                                <div class="right-img">
                                    <img src="assets/images/compress.gif" />
                                </div>
                            </div>
                            <p class="special-header fs-1 pb-1">Discov<span class="red">R</span> finds issues before they
                                impact revenue</p>
    
                            <p class="segoe-f">AI & Machine Learning powered anomaly
                                and fraud detection for the metrics that
                                matter to your business. </p>
                                <div id="hide-btns">
                            <div class="d-flex w-100 gap-2 py-4 readmorebtns">
                                <button class="btn btn-dark read-more-btn" type="button" routerLink="/read-more">Read More</button>
                                <p class="p-0 m-0"><a href="" class="text-decoration-none red-clr anctag"
                                        style="position: relative;left: 26px;top: 7px;">Contact Sales <i
                                            class='greater-than-icon'></i></a></p>
                            </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 desk-view my-auto pb-1 pt-5">
                        <div class="right-img">
                            <img src="assets/images/compress.gif" />
                        </div>
                    </div>
                </div>
    
            </div>
        </div>
    </header>
    <section class="white-bg">
        <div class="container">
            <div class="data-section pt-5">
                <div class="row">
                    <div class="col-md-8 py-4">
                        <div class="detection-sub-content py-5">
                            <div class="detection-para">
                                <p class="red f-500 fs-17">Anomaly detection</p>
                                <p id="detection-sub-h">DiscovR is a novel algorithm to detect anomaly. </p>
                            </div>
                            <p class="fs-16 black-clr segoe-f">Anomaly detection is an important tool for detecting fraud, detecting AML
                                transactions, network
                                intrusion, risk mitigation, manufacturing defects, engine defects, detect serious disease based on iot
                                devices and other rare events that may have great significance for the business but are hard to find.
                            </p>
                            <p class="fs-16 black-clr segoe-f">DiscovR is a novel algorithm to detect anomaly. As it is based on
                                unsupervised machine learning
                                algorithm, it does not require labeled data. It delivers speed, accuracy, and context better than any
                                solution of its kind to find abnormal (or unusual) data, activity, and transactions in any given
                                datasets. </p>
                            <p class="fs-16 black-clr segoe-f"> It has been successfully tested on hundreds of public datasets over
                                several years. DiscovR is typically
                                used to determine serious deviations in any given dataset.</p>
                        </div>
                    </div>
                    <div class="col-md-4 my-auto">
                        <div class="data-right-img1 text-center">
                            <img src="assets/images/data.png" width="80%" alt="data img" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div style="background: #f2f2f2;" *ngIf="false">
        <section class="bg-hash" style="background-image: linear-gradient(45deg, #4E5861, #4E5861);
    transform: skewY(-7deg);">
            <div class="sub-trans" style="transform: skewY(7deg);">
                <div class="container">
                    <div class="data-section pt-5">
                        <div class="row">
                            <div class="col-md-8 py-4">
                                <div class="parent-info pt-5">
                                    <div class="mob-view">
                                        <div class="data-right-img1 text-center">
                                            <img src="assets/images/client.png" id="right-side-image" class="m-auto"
                                                width="80%" alt="data img" />
                                        </div>
                                    </div>
                                    <div class="para pt-5">
                                        <h5 class="text-white f-poppi font-17">Why Us </h5>
                                        <p class="text-white fs-5">DiscovR Seamless Transactions!</p>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-6 col-sm-6 col-md-6 pt-4">
                                            <div class="child-info">
                                                <p class="text-white f-poppi">Secure </p>
                                                <p class="text-white segoe-f">We have made your security our priority. We
                                                    conduct regular
                                                    and thorough audits to ensure that your data is always secure. Our
                                                    internal
                                                    security team works around the clock to ensure that your gateway is
                                                    safe,
                                                    secure, and fraud-free! </p>
                                            </div>
                                        </div>
                                        <div class="col-lg-6 col-sm-6 col-md-6 pt-4">
                                            <div class="child-info">
                                                <p class="text-white f-poppi">Reliable</p>
                                                <p class="text-white segoe-f">Your business is in safe hands and so is your
                                                    money. DiscovR
                                                    takes pride in being one of the most trustworthy payment platforms.
                                                    We've got
                                                    you covered, whether it's managing your marketplace, automating bank
                                                    transfers,
                                                    or sharing invoices.
    
                                                </p>
                                            </div>
                                        </div>
                                        <div class="col-lg-6 col-sm-6 col-md-6 pt-4">
                                            <div class="child-info">
                                                <p class="text-white f-poppi">Easy Integration </p>
                                                <p class="text-white segoe-f">We make payment integration on the web and on
                                                    mobile look
                                                    easy. Allow us to handle the complexity of payment validation, error
                                                    management,
                                                    and the retry process while you discovR the potential of easy
                                                    integration. </p>
                                            </div>
                                        </div>
                                        <div class="col-lg-6 col-sm-6 col-md-6 pt-4">
                                            <div class="child-info">
                                                <p class="text-white f-poppi">Simple </p>
                                                <p class="text-white segoe-f">Yes, it is as simple as it appears. When it
                                                    comes to managing
                                                    payments, we recognize that speed and convenience are critical. That's
                                                    why we've
                                                    DicovR'd the best way to give you the finest interface and usability
                                                    possible.
    
                                                </p>
                                            </div>
                                        </div>
                                    </div>
    
                                    <div class="read-btn pb-5 pt-5"><button class="btn btn-dark read-white-btn">Read
                                            More</button>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4  my-auto pt-5 desk-view">
                                <div class="data-right-img">
                                    <img src="assets/images/client.png" id="right-side-image" class="w-100"
                                        alt="data img" />
                                </div>
                                <!-- <div class="right-side-image3"><img src="assets/images/Frame.png" class=" float-end"/></div> -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    
    </div>
    <section class="back white-bg" *ngIf="false">
        <!-- <div class="right-side-image"><img src="assets/images/Frame.png" class="w-100 float-end"/></div> -->
        <div class="container">
            <div class="data-section pt-5">
    
                <div class="row">
                    <div class="col-md-12 py-4">
    
                        <div class="parent-info pt-5">
                            <div class="para pt-4">
                                <h5 class="red-clr font-17">DiscovR The World </h5>
                                <p class="font-22 fs-5">We Support You Wherever You Go! </p>
                            </div>
                            <div class="row">
                                <div class=" col-lg-4 col-sm-6 col-md-4  pt-4">
                                    <div class="child-info">
                                        <p class="red-clr font-17">Borderless</p>
                                        <p class="black-clr segoe-f">Business that knows no bounds. Without worry, move your
                                            money
                                            across oceans and continents. Leave the rest to us while you concentrate on
                                            creating great things.</p>
                                    </div>
                                </div>
                                <div class=" col-lg-4 col-sm-6 col-md-4  pt-4">
                                    <div class="child-info">
                                        <p class="red-clr font-17">Transparent </p>
                                        <p class="black-clr segoe-f">DiscovR what you pay. There are no hidden fees. You'll
                                            have
                                            complete control over your transactions. Pay just for the services you use and
                                            receive real-time reporting. </p>
                                    </div>
                                </div>
                                <div class=" col-lg-4 col-sm-6 col-md-4  pt-4">
                                    <div class="child-info">
                                        <p class="red-clr font-17">Performance</p>
                                        <p class="black-clr segoe-f">There's always something new to discovR. We are a
                                            platform
                                            dedicated to improving our services and solutions constantly. New features, a
                                            more user-friendly interface, and improved usability. An approach that puts the
                                            user first. </p>
                                    </div>
                                </div>
                            </div>
                            <div class="read-btn pb-5 pt-5"><button class="btn btn-dark read-more-btn">Read More</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    
    </section>
    <section *ngIf="false">
        <div class="container">
            <div class="data-section pt-5">
                <div class="row">
                    <div class="col-md-8 py-4">
                        <div class="parent-info">
                            <div class="mob-view">
                                <div class="data-right-img1 text-center">
                                    <img src="assets/images/frame2.png" width="80%" alt="data img" />
                                </div>
                            </div>
                            <div class="para">
                                <h5 class="red-clr font-17 f-poppi">DiscovR Ease </h5>
                                <p class="font-22 fs-5">Powerful APIs </p>
                            </div>
    
                            <div class="row">
    
                                <div class=" col-lg-6 col-sm-6 col-md-6  pt-4">
                                    <div class="child-info">
                                        <p class="red-clr font-17">Functionality </p>
                                        <p class="black-clr segoe-f">DiscovR was created with developers in mind, and it
                                            emphasizes
                                            simplicity when it comes to implementing payment functions. With library keys
                                            and integration tools, you can get up and running quickly.</p>
                                    </div>
                                </div>
                                <div class=" col-lg-6 col-sm-6 col-md-6 pt-4">
                                    <div class="child-info">
                                        <p class="red-clr font-17 f-poppi">Management</p>
                                        <p class="black-clr segoe-f">DiscovR's API and services can help you run your
                                            business. Use
                                            our machine learning models to combat fraud. Make your own regulations to suit
                                            your company's needs. </p>
                                    </div>
                                </div>
                            </div>
                            <div class="read-btn  pt-5 pb-2"><button class="btn btn-dark read-more-btn">Read More</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 my-auto desk-view">
                        <div class="data-right-img1 text-center">
                            <img src="assets/images/frame2.png" width="80%" alt="data img" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <app-footer></app-footer>
    </div>

    