.bg-light{
	background-color: transparent !important;
}
.navbar-nav .nav-item{
	margin: 0 1rem;
	position: relative;
	transition: all 0.5s ease-in-out 0s;
}
.greater-than-icon:before{
	content: '>';
    font-weight: bold;
    font-size: 15px;
    margin-left: 4px;
}

a.anctag:hover {
    color: rgb(8, 8, 8) !important;
    transition: all 0.5s ease-in-out 0s;
    opacity: 0.4;
}

.bg-rectangle-img{
	background-image: url("../../../assets/images/Rectangle888.png");
	background-repeat: no-repeat;
	background-size: cover;
	height: auto;
		max-height: 857px;
}
    .sign-in-btn button {
        height: 38px;
        width: 101px;
        background: #FFFFFF;
		box-shadow: 0px 2px 13px rgb(0 0 0 / 25%);
        border-radius: 20px;
        border: none;
        color: #FF0000;
        font-weight: bold;
        font-size: 14px;
		margin-left: 20px;
    }
    .special-header {
        font-family: Poppins;
        font-weight: bold;
        line-height: 43px;
      
    }
    .right-img img{
        width: 100%;
        padding: 50px 0px 0px 0px;
    }
    .left-content {
		padding: 138px 24px 0px 24px;
    }
    .para p {
        font-family: Poppins;
        font-style: normal;
        font-weight: 600;
        font-size: 22px;
        line-height: 26px;
    }
    .child-info p{
		margin-top: -12px;
    }
    .data-right-img img {
        float: right;
    }



	li.nav-item {
		font-family: Poppins;
		font-size: 14px;
		font-style: normal;
		font-weight: 600;
		line-height: 18px;
		letter-spacing: 0em;
		text-align: left;
		
	}
	a.nav-link {
		color: #000000 !important;
	}


	
.top-sticky{
	position: sticky;
    top: 0;
    z-index: 99999;
    background: #fff;
    bottom: 0;
    height: 78px;
}




#header-background{
	background-image: url("../../../assets/images/linear-background.png");
background-repeat: no-repeat;
background-size: cover;
	padding-bottom: 2rem;
}



#right-side-image{
	display: flex;
    align-items: center;
    justify-content: center;
}
.right-side-image3 img{
	position: absolute;
                        left: 26em;
                        top: 26em;
                        bottom: 0;
                        right: 0px;
}
.navbar-inverse{
	background-color: #fff;
	transition: .3s;
	box-shadow: 0 .125rem .25rem rgba(0,0,0,.075)!important;
}
	.changecolor{
		background-color: #fff;
		}

		@media(max-width:767px){
			.mob-view{
				display: block;
				padding-bottom: 34px;
			}
			.desk-view{
				display: none;
			}#hide-btns{
				display: none;
			}.child-info p {
				padding: 0px 24px 0px 24px;
			}
			.para {
				padding: 0px 24px 0px 24px;
			}.read-btn{
				margin-left: 20px;
			}
		}
		@media(min-width:768px){
			.mob-view{
				display: none;
			}
			.desk-view{
				display: block;
			}#hide-btns{
				display: block;
			}.child-info p {
				padding: 0px;
			}
			.para {
				padding: 0px;
			}.read-btn{
				margin-left: 0px;
			}
		}
@media(max-width:767px){
	.drop-menu{
		min-width: 316px;
	}
	.drop-menu3{
		min-width: 316px;
	}.searchbar.search-mob-view {
		margin-left: 0.5rem;
		margin-right: 0.5rem;
	}a.navbar-brand {
		margin-left: 0.5rem;
		margin-right: 0.5rem;
	}.sign-in-btn {
		margin-left: -8px;
	}
}
@media(min-width:768px){
	.drop-menu{
		
		min-width: 400px;
	}
	.drop-menu3{
		
		min-width: 400px;
	}
}

		@media(max-width:767px){
			.readmorebtns{
				display: block;
			}.navbar-nav .nav-item {
				font-size: 17px;
				padding: 0px 0px 15px 0px;
				
			}span.sign-in-btn button {
				margin-top: 11px;
			}.searchbar{
				margin: 1rem 0 10px -3px;
			}
		}
		

		@media(min-width:768px){
			.readmorebtns{
				display: none;
			}
			
		}
		@media(max-width:767px){
			.left-content {
				padding: 63px 24px 0px 24px;
			}
			
			
		}
		@media(max-width:991px){
			.navbar{
				background-color: #fff !important;
			}
			.navbar-nav .nav-item {
				padding: 0px 0px 15px 0px;
			}
			.searchbar{
				margin: 1rem 0 10px -3px;
			}
			.search-desk-view{
				display: none;
			}
		}
		@media(min-width:992px){
		
			.search-mob-view{
				display: none;
			}
		}
		@media(min-width:768px){
			.left-content {
				padding: 138px 24px 0px 24px;
			}				
		}
@media(min-width:992px) and (max-width:1058px){
	.navbar-nav .nav-item {
		font-size: 13px;
		margin: 0 0.4rem !important;
	}
}

.searchbar{
	position: relative;
}
		.searchbar input{
			padding: 15px 40px 15px 20px;
			border-radius: 50px;
    		border: 1px solid #4e5861;
			position: relative;
			color: #525252;
			text-transform: uppercase;
			font-size: 10px;
			font-weight: 100;
			border: 1px solid #DDDD;
			height: 41px;
		}
  
		.searchbar .search-icon{
			position: absolute;
			top: 9px;
			right: 16px;
			color: black;	
		}
		/* ------------------------ Hovarable Dropdown CSS Start -------------------*/

.drop-menu{
	display: none;
	border-radius: 15px;
	box-shadow: 1px 1px 2px 1px #ccc;         
	position: absolute;
	min-width: 400px;
	margin-top: 10px;
}
.drop-menu::before{
	content: '';
width: 0;
height: 0;
border-left: 9px solid transparent;
border-right: 9px solid transparent;
border-bottom: 17px solid #fff;
position: absolute;
top: -16px;
left: 42px;
}
.drop-menu::after{
	content: '';
width: 0;
height: 0;
border-left: 10px solid transparent;
border-right: 10px solid transparent;
border-bottom: 17px solid #bdbdbd;
position: absolute;
top: -17px;
left: 41px;
z-index: -1;
}
.nav-item:hover > .drop-menu{
	display: block;
	justify-content: center;
	background: #fff;
z-index: 9;      
}
.navbar-light .navbar-toggler {
height: 38px;
width: 54px;
border-radius: 20px;
}
.drop-menu ul {
	list-style: none;
	line-height: 2;
}
/* End of hovarable dropdown */
/* Drop Down related css start */
.products-dd {
	padding: 1.5rem;
}
.products-dd ul li {
	font-size: 14px;
}
.products-dd a {
	color: #000;
text-decoration: none;
	margin-left: -30px;
	padding-top: 20px;
}
.products-dd li p {
	color: #787878;
text-decoration: none;
	margin-left: -30px;
}
.products-dd li:hover > p {
	color: #000;
}
.products-dd ul {
	padding-top: 10px;
}
.products-nav {
	width: 922px;
	--site-menu-height: 622px;
	pointer-events: auto;
}
.usecases-dd {
	padding: 1.5rem;
}
.usecases-dd ul li {
	font-size: 14PX;
}
.usecases-dd a {
	color: #000;
text-decoration: none;
	margin-left: -30px;
}
.usecases-dd li p {
	color: #787878;
text-decoration: none;
	margin-left: -30px;
}
/* .usecases-dd li:hover >p {
	color: #000;
} */
.usecases-dd li:hover {
	color: rgb(58, 55, 55) !important;
        transition: all 0.5s ease 0s;
        opacity: 0.3;
		cursor: pointer;
}
.usecases-nav {
	width: 458px;
	--site-menu-height: 352px;
	 pointer-events: auto;
}
.developers-dd {
	padding: 1.5rem;
}
.developers-sub-dd ul li {
	font-size: 14PX;
}
.developers-dd a{
	color: #000;
text-decoration: none;
}
.developers-dd a p{
	color: #787878;
text-decoration: none;
	margin-top: -5px;
}
.developers-dd a:hover > p{
	  color: #000;
}
.developers-sub-dd {
	  padding: 1.5rem;
	  position: relative;
bottom: 22px;
}
.developerssub-dd li {
	color: #000;
text-decoration: none;
}
.developers-sub-dd li a {
	color: #787878;
text-decoration: none;
	line-height: 5px;
	font-size: small;
	margin-left: -25px;
	font-family: Arial, Helvetica, sans-serif;
}
.developers-sub-dd li:hover a {
	color: #000;
}
.developers-dd-footer{
	padding: 2.5rem 2rem; 
	background-color:  #f1f4f7;
	border-radius: 0 0 12px 12px;    
}
.developers-dd-footer li a {
	color: #000;
text-decoration: none;
}
.developers-dd-footer ul li {
	font-size: 14px;
}
.developers-list {
	margin-left: -5px;
}
.developers-nav {
	width: 604px;
	--site-menu-height: 390px;
	pointer-events: auto;
}
.company-dd {
	padding: 1.5rem;
	margin-left: -35px;
}
.developers-ft {
	margin-left: -35px;
}
.company-dd ul li {
	font-size: 14PX;
}
.company-dd li a {
color: #000;
text-decoration: none;
line-height: 10px;                          
}
.company-dd-footer {
	padding: 2.5rem 2rem;
	background-color: #f1f4f7;
	border-radius: 0 0 12px 12px;
}
.company-dd-footer h6 {
	color: #000;
text-decoration: none;
}
.company-dd-footer li a {
	color: #787878;
text-decoration: none;
	margin-left: -35px;
}
.company-dd-footer li:hover > a {
	color: #000;
}
.company-dd-footer ul li {
	font-size: 14px;
}
.company-nav {
	width: 476px;
	--site-menu-height: 367px;
	pointer-events: auto;
}
/* Drop down related code end */

@media(max-width:767px){
	.drop-menu-res {
		margin-left: 6rem;
	}
}
@media(max-width:990px){
	.drop-menu-res {
		margin-left: 0;
	}
}